body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif; 
    color: black;
    background-color: white;
}

#wrapper {
    position: relative;
}

#static-map, #dynamic-map {
    position: absolute;
}
